NOTION_ACCESS_TOKEN=
NOTION_CONNECTION_ID=

NOTION_TRAINING_LOGS_DATABASE_ID=
NOTION_GOAL_WEIGHTS_DATABASE_ID=
NOTION_EXERCISES_DATABASE_ID=
NOTION_EXERCISE_LOGS_DATABASE_ID=
NOTION_EXERCISE_SETS_DATABASE_ID=
NOTION_TODOS_DB=
NOTION_PROJECTS_DB=
SENTRY_DSN=""